Repository kinfuy/IconSolution: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: less
  package.json
  packages/web-server/package.json
  pnpm-lock.yaml
Due: none

feat: route
  .DS_Store
  .lintstagedrc
  CHANGELOG.md
  changelog.config.js
  package.json
  packages/node-server/src/controller/icon/index.ts
  packages/node-server/src/controller/package/build.ts
  packages/node-server/src/controller/package/index.ts
  packages/node-server/src/database/entity/base.ts
  packages/node-server/src/database/entity/icons.ts
  packages/node-server/src/database/index.ts
  packages/node-server/src/database/services/base.ts
  packages/node-server/src/database/services/icons.ts
  packages/node-server/src/database/services/index.ts
  packages/node-server/src/middleware/error.ts
  packages/node-server/src/routes/index.ts
  packages/node-server/src/routes/route/icon.ts
  packages/node-server/src/routes/route/index.ts
  packages/node-server/src/routes/route/package.ts
  packages/node-server/version/global.d.ts
  packages/node-server/version/libs/icon-add.vue
  packages/node-server/version/libs/icon-arrow-down.vue
  packages/node-server/version/libs/icon-arrow-right.vue
  packages/node-server/version/libs/icon-auth.vue
  packages/node-server/version/libs/icon-date-point.vue
  packages/node-server/version/libs/icon-delete.vue
  packages/node-server/version/libs/icon-lock.vue
  packages/node-server/version/libs/icon-set.vue
  packages/node-server/version/libs/icon-switch-down.vue
  packages/node-server/version/libs/icon-switch.vue
  packages/node-server/version/libs/icon-time.vue
  packages/node-server/version/libs/index.ts
  packages/web-server/src/apis/common.ts
  packages/web-server/src/apis/config.ts
  packages/web-server/src/components/Navbar.vue
  packages/web-server/src/router/index.ts
  packages/web-server/src/views/Introduce.vue
  pnpm-lock.yaml
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

feat:search
  .DS_Store
  packages/web-server/public/logo.svg
  packages/web-server/public/壁纸小狐狸.png
  packages/web-server/src/App.vue
  packages/web-server/src/components/Navbar.vue
  packages/web-server/src/router/index.ts
  packages/web-server/src/views/Homepage.vue
  packages/web-server/src/views/IconLibrary.vue
  packages/web-server/src/views/Introduce.vue
  packages/web-server/src/views/Project.vue
  packages/web-server/src/views/Team.vue
  public/.DS_Store
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: pinia
  packages/node-server/src/controller/package/build.ts
  packages/node-server/src/database/entity/user.ts
  packages/node-server/src/routes/route/base.ts
  packages/node-server/src/routes/route/icon.ts
  packages/web-server/src/main.ts
  packages/web-server/src/store/user.ts
  packages/web-server/src/views/Introduce.vue
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: search
  .DS_Store
  packages/web-server/public/logo.svg
  packages/web-server/public/壁纸小狐狸.png
  packages/web-server/src/App.vue
  packages/web-server/src/components/Navbar.vue
  packages/web-server/src/router/index.ts
  packages/web-server/src/views/Homepage.vue
  packages/web-server/src/views/IconLibrary.vue
  packages/web-server/src/views/Introduce.vue
  packages/web-server/src/views/Project.vue
  packages/web-server/src/views/Team.vue
  public/.DS_Store
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: husky
  .husky/pre-commit
Due: none

fix: commit rule
  CHANGELOG.md
  changeloger.config.js
  commitlint.config.js
Due: none

fix: detail
  .lintstagedrc
  packages/web-server/src/views/Login.vue
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: dialog
  packages/web-server/src/views/Login.vue
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

test: git
  packages/web-server/src/views/Login.vue
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: test
  packages/web-server/src/views/Login.vue
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  .husky/commit-msg
  .husky/pre-commit
Due: none

# This is a combination of 3 commits. # This is the 1st commit message:
  .husky/pre-commit
  .lintstagedrc
  CHANGELOG.md
  changeloger.config.js
  commitlint.config.js
  packages/web-server/src/views/Login.vue
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: login
  packages/node-server/src/controller/user/index.ts
  packages/node-server/src/database/entity/user.ts
  packages/node-server/src/database/services/index.ts
  packages/node-server/src/database/services/user.ts
  packages/node-server/src/routes/route/base.ts
  packages/web-server/src/apis/common.ts
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: register
  packages/node-server/config/index.ts
  packages/node-server/package.json
  packages/node-server/src/controller/user/index.ts
  packages/node-server/src/database/services/base.ts
  packages/node-server/src/database/services/icons.ts
  packages/node-server/src/libs/enum.ts
  packages/node-server/src/middleware/error.ts
  packages/node-server/src/routes/route/base.ts
  packages/node-server/src/utils/email.ts
  packages/node-server/src/utils/index.ts
  pnpm-lock.yaml
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: login
  packages/web-server/src/apis/common.ts
  packages/web-server/src/components/Login.vue
  packages/web-server/src/components/Navbar.vue
  packages/web-server/src/router/index.ts
  packages/web-server/src/views/Login.vue
  packages/web-server/vite.config.ts
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: fixed
  packages/web-server/src/apis/common.ts
  packages/web-server/src/apis/config.ts
  packages/web-server/src/components/Login.vue
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: user store
  packages/node-server/package.json
  packages/node-server/public/user/default.png
  packages/node-server/src/controller/user/index.ts
  packages/node-server/src/database/entity/source.ts
  packages/node-server/src/index.ts
  packages/node-server/src/middleware/error.ts
  packages/node-server/src/routes/route/base.ts
  packages/web-server/src/store/user.ts
  pnpm-lock.yaml
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: user login
  packages/web-server/src/apis/common.ts
  packages/web-server/src/components/Login.vue
  packages/web-server/src/components/Navbar.vue
  packages/web-server/src/store/user.ts
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: fixed
  packages/web-server/src/store/user.ts
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

style: fix
  packages/node-server/src/controller/user/index.ts
  packages/node-server/src/index.ts
  packages/web-server/package.json
  packages/web-server/src/apis/config.ts
  packages/web-server/src/components/Login.vue
  packages/web-server/src/main.ts
  packages/web-server/src/style/common.less
  packages/web-server/src/views/IconLibrary.vue
  packages/web-server/static/font/demo.css
  packages/web-server/static/font/demo_index.html
  packages/web-server/static/font/iconfont.css
  packages/web-server/static/font/iconfont.json
  packages/web-server/static/font/iconfont.ttf
  packages/web-server/tsconfig.json
  pnpm-lock.yaml
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: pinia
  CHANGELOG.md
  packages/web-server/package.json
  packages/web-server/src/main.ts
  packages/web-server/src/store/user.ts
  pnpm-lock.yaml
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: upload
  packages/web-server/src/components/Navbar.vue
  packages/web-server/src/router/index.ts
  packages/web-server/src/views/Homepage.vue
  packages/web-server/src/views/Project.vue
  packages/web-server/src/views/Team.vue
  packages/web-server/src/views/Upload.vue
  pnpm-lock.yaml
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: uploadfile
  packages/node-server/src/controller/source/index.ts
  packages/node-server/src/database/entity/index.ts
  packages/node-server/src/database/entity/source.ts
  packages/node-server/src/database/index.ts
  packages/node-server/src/database/services/index.ts
  packages/node-server/src/database/services/source.ts
  packages/node-server/src/index.ts
  packages/node-server/src/routes/route/base.ts
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: create icon
  packages/node-server/source/temp/5a75befa9c0e4d93ece4c3d00.png
  packages/node-server/src/controller/icon/index.ts
  packages/node-server/src/controller/source/index.ts
  packages/node-server/src/index.ts
  packages/node-server/src/routes/route/icon.ts
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: upload
  packages/web-server/src/apis/common.ts
  packages/web-server/src/components/Login.vue
  packages/web-server/src/components/Navbar.vue
  packages/web-server/src/components/ShopCar.vue
  packages/web-server/src/views/Upload.vue
  packages/web-server/vite.config.ts
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: log
  CHANGELOG.md
  changeloger.config.js
  package.json
  packages/node-server/source/temp/49d394f9ae70125b51dfb3800.52.22.png
  packages/node-server/src/controller/icon/index.ts
  pnpm-lock.yaml
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

refactor: web
  packages/node-server/src/database/index.ts
  packages/web-server/package.json
  packages/web-server/src/App.vue
  packages/web-server/src/apis/common.ts
  packages/web-server/src/components/Login.vue
  packages/web-server/src/components/Navbar.vue
  packages/web-server/src/views/IconLibrary.vue
  packages/web-server/src/views/Introduce.vue
  packages/web-server/static/font/demo.css
  packages/web-server/static/font/demo_index.html
  packages/web-server/static/font/iconfont.css
  packages/web-server/static/font/iconfont.json
  packages/web-server/static/font/iconfont.ttf
  pnpm-lock.yaml
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

Path conditions:
  stylelint --config ./.stylelintrc --fix: any of: packages/**/*.{css,less}
  eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue: any of: packages/**/*.{js,ts,css,vue}
